<h1 style="margin-top:0;">
  Hey,
  <strong>
    {{organizer}}
  </strong>
</h1>
<p>
  O usuário
  {{userName}}
  (
  {{userEmail}}
  ) acaba de se inscrever para participar do seu meetup
  <strong>
    {{meetupTitle}}
  </strong>
  que acontecerá no
  {{meetupDate}}
  .
</p>
<p>
  Seu Meetup está crescendo! Lembre-se de atualizar seus participantes com as novidades e claro, continue divulgando seu evento.
</p>
